body{
    font-family: "udemy sans",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

body *{
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */


nav{
    white-space: nowrap;
    /* min-width: 620px; */
    height: 4.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

#smallscreenIcons,
#smallscreenMenu{
    display: none;
}

.logo{
    height: 50%;
    margin-left: 20px;
}

nav > * {
    cursor: pointer;
    margin: 0 8px;
    display: inline-block;
    white-space: nowrap;
}

nav > button {
    font-size: 0.9rem;
    border: none;
    background: none;
    color: #1c1d1f;
}

nav > button:hover{
    color: blueviolet;
}

/* Search Bar */

nav > form{
    margin-right: 20px;
    display: inline-block;
    border: black solid 1px;
    border-radius: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.searchbar{
    margin-left: 15px;
    font-size: 1rem;
    height: 25px;
    width: 100%;
    outline: none;
    border: none;
    flex: 1;
}


.signup,
.login,
.language {
    border: solid rgb(28, 29, 31) 1px;
    color: #1c1d1f;
}

.signup,
.login {
    font-weight:bold;   
}

.login:hover,
.language:hover {
    background-color: #f5f5f5;
    color: #1c1d1f;
}

.signup:hover{
    background-color: #000000;
    color: white;
}

.login{
    padding: 10px 20px;
}

.language{
    padding: 10px 12px;
    margin-right: 20px;
}

.signup{
    background-color: #1a1f1f;
    color: white;
    padding: 10px 15px;
}

/* Header */

header{
    background-color: #f8f9fb;
    display: flex;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap-reverse;
    width: 100%;
    max-width: 1360px;
    justify-content: stretch;
    align-items: center;
}

h2{
    font-family: serif;
    font-size: 2.2rem;
    margin-bottom: 10px;
}

header > div{
    padding: 15px 25px 15px 10px;
    background-color: white;
    margin-left: 80px;
    height: 140px;
    width: 350px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%)
}

header > img{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Main */

main{
    width: 85%;
    margin: 40px auto 20px auto;
}

main h2{
    font-family: Georgia,Times,"times new roman",serif;
    margin-bottom: 15px;
}

main p{
    font-size: 18px;
}

.categoriesList{
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    list-style-type: none;
}

.categoriesList li{
    display: inline;
    margin-right: 15px;
    font-weight: bold;
    color: #606060;
    font-family: "udemy sans",Helvetica,Arial,sans-serif;
    cursor: pointer;
}

.categoriesList li:hover{
    color: black;
}

.activeCategory{
    color: black !important;
    cursor:context-menu !important;
}

#category{
    border: 1px solid #d1d7dc;
    padding: 30px 30px;
}

#category button{
    cursor: pointer;
}

#desc{
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    font-size: 16px;
    
}

#category > button{
    border: solid rgb(28, 29, 31) 1px;
    color: #1c1d1f;
    font-weight:bold;
    padding: 8px 8px;
    margin-bottom: 30px;
}

#category > button:hover{
    background-color: #f5f5f5;
    color: #1c1d1f;
}

/* Course Cards */
#courses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course{
    overflow: hidden;
    margin: 15px 10px;
    text-overflow: ellipsis;
    /* border: 1px solid red; */
    box-sizing: border-box;

    width: 225px;
    height: fit-content;
    min-height: 250px;
}

.course > *{
    width: 100%;
    text-align: left;
    margin-bottom: 6px;
}

.courseName{
    font-size: 15px;
}

.instructor, .users{
    font-size: 0.73rem;
    font-weight: normal;
    color: 	#585858;
}

.rating{
    color: orange;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.price{
    font-weight: bold;
    color: #000000;
    size: 16px;
    margin-right: 10px;
}

.oldPrice{
    text-decoration: line-through;
    font-weight: normal;
    color: #585858;
    size: 16px;
}

.bestseller{
    background-color: #eaeb93;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
}

/* Hiding "udemy business" when screen gets smaller */
@media only screen and (max-width: 1080px) {
    #udemyBusiness{
        display: none;
    }
  }

/* Hiding "udemy teach" when screen gets smaller */
@media only screen and (max-width: 920px) {
    #udemyTeach{
        display: none;
    }
  }

/* Small Screen */
@media only screen and (max-width: 800px) {
    /* Nav bar in small screen */

    nav > form, nav > button{
        display: none;
    }
    nav{
        justify-content: space-between;
        height: 55px;
    }
    #smallscreenIcons, #smallscreenMenu{
        display: inline-block;
    }

    #smallscreenMenu{
        margin-left: 20px;
    }

    #smallscreenMenu:hover{
        color: #000000;
    }

    #smallscreenIcons{
        margin-right: 10px;
    }

    #smallscreenIcons > button{
        margin: auto 10px;
        cursor: pointer;
    }

    
  }
/* Small Screen */
@media only screen and (max-width: 720px) {
    /* The div in the header slides down on small screen */
    header > div{
        width: 100%;
        box-shadow: none;
        margin: 0;
        padding-left: 30px;
    }
    header{
        max-width: none;
        width: 100%;
        padding: 0;
    }
    /* On small screen courses are displayed one at a time with greater font */
    main{
        width: 90%;
        margin: 0 auto 20px auto;
    }
    h2, main h2{
        font-size: 1.8rem;
    }
    header > div{
        height: fit-content;
    }

    .course{
        width: 100%;
    }

    .courseName{
        font-size: 22px;
    }

    .price{
        font-size: 18px;
    }

    .oldPrice{
        font-size: 16px;
    }

    .instructor{
        font-size: 16px;
    }

    .bestseller{
        font-size: 18px;
    }
    
}

