nav{
    position: relative;
    border: 2px solid red;
    height: 70px;
    box-sizing: border-box; 
    padding-top: auto;
    padding-bottom: auto;
    /* The dimensions set to the element will be the actual dimensions, 
    padding will decrese content space instead of increaing element size*/
}

nav > * {
    position: absolute;
    top:25%;
    height: 50%;
}

.logo{
    margin-left: 20px;
}