nav{
    border: 2px solid red;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav > * {
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

nav > span {
    font-size: 1rem;
    color: #1c1d1f;
}



.logo{
    height: 50%;
    margin-left: 20px;
}


.searchbar{
    height: 2.4rem;
    border-radius: 30px;
    border: 3px solid 1c1d1f;
}

.searchbar, nav > form{
   width: 100%;
}
